@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background-color: #EAEDF0;
  font-family: 'Abel', sans-serif;
  text-align:center;
  padding: 2%;
}

form {
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    margin: 2% auto;
    padding: 1.5%;
    background-color: rgb(116, 233, 146);
}

input[type="text"] {
  text-align: right;
  width: 222px;
  height: 50px;
  margin: 4px 2px;
}

input[type="reset"] {
  width:70px;
  height: 50px;
  font-size: 18px;
  margin: 4px 2px;
}
input[type="button"] {
  width: 70px;
  height: 70px;
  font-size: 18px;
  margin: 4px 2px;
}
